body {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

h1 {
    font-size: 40px;
    color: grey;
    text-shadow: 3px 3px 6px navajowhite;
    text-align: left;
    font-family: cursive;
}

section {
    float: left;
    margin: 0 1.5%;
    width: 22%;
}

aside {
    float: right;
    margin: 0 1.5%;
    width: 55%;
}

#back {
    background-image: url('back-strelka.jpg');
    background-size: 30px 30px;
    height: 30px;
    width: 30px;
    box-shadow: navajowhite;
    border-color: white;
}

h2 {
    color: grey;
    text-shadow: 3px 3px 6px navajowhite;
    text-align: left;
    font-family: Garamond, cursive;
}

p {
    color: rgba(0, 0, 0, 0.71);
}

#gmap_canvas {
    border-radius: 10%;
}

.search-box {
    /*nav-left: initial;*/
    top: 50%;
    left: 50%;
    height: 25px;
    border-radius: 40px;
    background: rgba(197, 186, 172, 0.25);
    padding: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    width: 200px;
}

.search-btn {
    color: rgba(128, 128, 128, 0.62);
    float: left;
    width: 40px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: bottom;
    padding: 0;
    color: rgba(128, 128, 128, 0.62);
    font-size: 16px;
    transition: 0.4s;
    line-height: 25px;
    width: 0px;
}

.search-box:hover>.search-txt {
    width: 140px;
    border-radius: 30%;
}

#mapid {
    margin-top: 50px;
    width: 700px;
    height: 500px;
    border-radius: 50px;
}

/* The css code for zoom buttons on the map */
.leaflet-control-zoom-in {
    font: bold 18px 'Lucida Console', Monaco, monospace;
    text-indent: 1px;

}

.leaflet-control-zoom-out {
    font: bold 18px 'Lucida Console', Monaco, monospace;
    text-indent: 1px;

}